%% Common project erlang options.
{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars
]}.

%% Common project dependencies.
{deps, [
    {jsx, "3.0.0"},
    {thrift, {git, "https://github.com/rbkmoney/thrift_erlang.git", {branch, "master"}}},
    {bouncer_proto, {git, "https://github.com/rbkmoney/bouncer-proto.git", {branch, "master"}}}
]}.

%% XRef checks
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

%% Dialyzer static analyzing
{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{plugins, [
    {erlfmt, "0.10.0"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, ["{src,include,test}/*.{hrl,erl}", "rebar.config", "elvis.config", "config/sys.config"]}
]}.

{escript_emu_args, "%%! +sbtu +A0 -noshell -boot start_clean -escript main validator\n"}.
