title: Role Operation Access Matrix
description: >
  This document defines which roles do have access to which operations in our
  public APIs.

  Only those APIs which are accessible with regular session tokens and defined
  under role-base access model are listed here. For example, UrlShortener is
  notably absent, since its access model lacks a concept of roles.

  Document has the following structure:
   * a set of role names,
   * a set of available APIs per each of those role,
   * a set of accessible operations per each of those APIs.

roles:
  Integrator:
    apis:
      CommonAPI:
        operations:
          - "GetMyParty"
          - "GetInvoiceByID"
          - "GetPayments"
          - "GetPaymentByID"
          - "CreateWebhook"
          - "GetWebhooks"
          - "GetWebhookByID"
          - "DeleteWebhookByID"
      OrgManagement:
        operations:
          - "getOrg"
          - "getOrgRole"
          - "cancelOrgMembership"
          - "inquireOrgMembership"
          - "listOrgMembership"
          - "switchContext"
      AnalyticsAPI:
        operations:
          - "SearchInvoices"
          - "SearchPayments"
          - "SearchRefunds"
          - "SearchInvoiceTemplates"

  Accountant:
    apis:
      CommonAPI:
        operations:
          - "GetMyParty"
          - "GetInvoiceByID"
          - "GetPayments"
          - "GetPaymentByID"
          - "CreateRefund"
          - "GetRefunds"
          - "GetRefundByID"
          - "GetPayoutTools"
          - "GetPayoutToolByID"
          - "CreatePayout"
      OrgManagement:
        operations:
          - "cancelOrgMembership"
          - "switchContext"
      AnalyticsAPI:
        operations:
          - "SearchInvoices"
          - "SearchPayments"
          - "SearchRefunds"
          - "SearchPayouts"
          - "SearchReports"
          - "SearchInvoiceTemplates"
          - "GetReport"
          - "CreateReport"
          - "CancelReport"
          - "DownloadFile"

  Manager:
    apis:
      CommonAPI:
        operations:
          - "CreateInvoiceTemplate"
          - "GetInvoicePaymentMethodsByTemplateID"
          - "CreateInvoice"
          - "GetInvoiceByID"
          - "FulfillInvoice"
          - "RescindInvoice"
          - "GetInvoicePaymentMethods"
          - "GetMyParty"
          - "GetPayments"
          - "GetPaymentByID"
          - "GetPayoutTools"
          - "CreatePayout"
          - "GetCustomerPaymentMethods"
      OrgManagement:
        operations:
          - "getOrg"
          - "getOrgRole"
          - "cancelOrgMembership"
          - "inquireOrgMembership"
          - "listOrgMembership"
          - "switchContext"
      AnalyticsAPI:
        operations:
          - "SearchInvoices"
          - "SearchPayments"
          - "SearchRefunds"
          - "SearchPayouts"
          - "SearchInvoiceTemplates"
          - "GetPaymentsToolDistribution"
          - "GetPaymentsAmount"
          - "GetAveragePayment"
          - "GetPaymentsCount"
          - "GetPaymentsErrorDistribution"
          - "GetPaymentsSplitAmount"
          - "GetPaymentsSplitCount"
          - "GetRefundsAmount"
          - "GetCurrentBalances"
          - "GetPaymentsSubErrorDistribution"
          - "GetCurrentBalancesGroupByShop"
          - "GetCreditingsAmount"
          - "GetCurrentShopBalances"

  Administrator:
    apis:
      CommonAPI:
        operations:
          - "GetContracts"
          - "GetContractByID"
          - "GetContractAdjustments"
          - "GetContractAdjustmentByID"
          - "GetContractsForParty"
          - "GetContractByIDForParty"
          - "GetContractAdjustmentsForParty"
          - "GetContractAdjustmentByIDForParty"
          - "CreateCustomer"
          - "GetCustomerById"
          - "DeleteCustomer"
          - "CreateCustomerAccessToken"
          - "CreateBinding"
          - "GetBindings"
          - "GetBinding"
          - "GetCustomerEvents"
          - "GetCustomerPaymentMethods"
          - "CreateInvoiceTemplate"
          - "GetInvoiceTemplateByID"
          - "UpdateInvoiceTemplate"
          - "DeleteInvoiceTemplate"
          - "CreateInvoiceWithTemplate"
          - "GetInvoicePaymentMethodsByTemplateID"
          - "CreateInvoice"
          - "CreateInvoiceAccessToken"
          - "GetInvoiceByID"
          - "GetInvoiceByExternalID"
          - "FulfillInvoice"
          - "RescindInvoice"
          - "GetInvoiceEvents"
          - "GetInvoicePaymentMethods"
          - "GetMyParty"
          - "ActivateMyParty"
          - "SuspendMyParty"
          - "CreatePayment"
          - "GetPayments"
          - "GetPaymentByID"
          - "GetRefundByExternalID"
          - "GetPaymentByExternalID"
          - "CancelPayment"
          - "CapturePayment"
          - "CreateRefund"
          - "GetRefunds"
          - "GetRefundByID"
          - "GetChargebacks"
          - "GetChargebackByID"
          - "GetPayoutTools"
          - "GetPayoutToolByID"
          - "GetPayout"
          - "CreatePayout"
          - "GetPayoutToolsForParty"
          - "GetPayoutToolByIDForParty"
          - "SearchInvoices"
          - "SearchPayments"
          - "SearchPayouts"
          - "SearchRefunds"
          - "ActivateShop"
          - "SuspendShop"
          - "GetShops"
          - "GetShopByID"
          - "GetShopsForParty"
          - "GetShopByIDForParty"
          - "ActivateShopForParty"
          - "SuspendShopForParty"
          - "CreateWebhook"
          - "GetWebhooks"
          - "GetWebhookByID"
          - "DeleteWebhookByID"
      OrgManagement:
        operations:
          - "listInvitations"
          - "createInvitation"
          - "getInvitation"
          - "revokeInvitation"
          - "getOrgMember"
          - "listOrgMembers"
          - "listOrgRoles"
          - "patchOrg"
          - "assignMemberRole"
          - "expelOrgMember"
          - "removeMemberRole"
          - "getOrg"
          - "getOrgRole"
          - "cancelOrgMembership"
          - "inquireOrgMembership"
          - "listOrgMembership"
          - "switchContext"
      ApiKeyMgmt:
        operations:
          - "GetApiKey"
          - "RevokeApiKey"
          - "ListApiKeys"
          - "IssueApiKey"
      ClaimManagement:
        operations:
          - "createClaim"
          - "revokeClaimByID"
          - "requestReviewClaimByID"
          - "updateClaimByID"
      AnalyticsAPI:
        operations:
          - "SearchInvoices"
          - "SearchPayments"
          - "SearchRefunds"
          - "SearchPayouts"
          - "SearchReports"
          - "SearchChargebacks"
          - "SearchInvoiceTemplates"
          - "GetReport"
          - "CreateReport"
          - "CancelReport"
          - "DownloadFile"
          - "GetPaymentsToolDistribution"
          - "GetPaymentsAmount"
          - "GetAveragePayment"
          - "GetPaymentsCount"
          - "GetPaymentsErrorDistribution"
          - "GetPaymentsSplitAmount"
          - "GetPaymentsSplitCount"
          - "GetRefundsAmount"
          - "GetCurrentBalances"
          - "GetPaymentsSubErrorDistribution"
          - "GetCurrentBalancesGroupByShop"
          - "GetCreditingsAmount"
          - "GetCurrentShopBalances"
      WalletAPI:
        operations:
          - 'ListIdentities'
          - 'GetIdentity'
          - 'GetWithdrawalMethods'
          - 'CreateIdentity'
          - 'ListIdentityChallenges'
          - 'StartIdentityChallenge'
          - 'GetIdentityChallenge'
          - 'PollIdentityChallengeEvents'
          - 'GetIdentityChallengeEvent'
          - 'ListWallets'
          - 'GetWallet'
          - 'GetWalletByExternalID'
          - 'CreateWallet'
          - 'GetWalletAccount'
          - 'IssueWalletGrant'
          - 'ListDestinations'
          - 'GetDestination'
          - 'GetDestinationByExternalID'
          - 'CreateDestination'
          - 'IssueDestinationGrant'
          - 'CreateQuote'
          - 'CreateWithdrawal'
          - 'GetWithdrawal'
          - 'GetWithdrawalByExternalID'
          - 'ListWithdrawals'
          - 'PollWithdrawalEvents'
          - 'GetWithdrawalEvents'
          - 'ListDeposits'
          - 'ListDepositReverts'
          - 'ListDepositAdjustments'
          - 'CreateW2WTransfer'
          - 'GetW2WTransfer'
          - 'CreateWebhook'
          - 'GetWebhooks'
          - 'GetWebhookByID'
          - 'DeleteWebhookByID'
          - 'CreateReport'
          - 'GetReport'
          - 'GetReports'
          - 'DownloadFile'
          - 'StoreBankCard'
          - 'GetBankCard'
