name: Bundle and test policies
on:
  pull_request:
    branches: ['*']
  push:
    branches: [master]

jobs:

  test:
    name: Run test suite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: make validate
      - run: make test
      - run: make test-coverage

  build:
    name: Build image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Construct tags / labels for an image
        id: meta
        uses: docker/metadata-action@v3.6.2
        with:
          images: |
            ${{ env.REGISTRY }}/${{ github.repository }}
          tags: |
            type=sha

      - name: Log in to the Container registry
        if: ${{ github.event_name == 'push' }}
        uses: docker/login-action@v1.12.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2.8.0
        with:
          push: ${{ github.event_name == 'push' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}